@import "base.css";

/* Layout */

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    place-items: stretch;
}


/* Other Style */


/* Fonts */