@import "reset.css";
:root {
    --column-width: calc(100vw / 3);
}

body {
    height: 100vh;
}

header {
    height: 20vh;
    background-color: blue;
}

a {
    color: white !important;
}

#column1,
#column2,
#column3 {
    width: var(--column-width);
    height: 70vh;
}

#column1 {
    background-color: mediumpurple;
}

#column2 {
    background-color: tomato;
    position: absolute;
    left: var(--column-width);
    bottom: 10vh;
}

#column3 {
    background-color: sienna;
    position: absolute;
    right: 0;
    bottom: 10vh;
}

footer {
    height: 10vh;
    background-color: indianred;
}